<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body{% if page.wide_layout %} class="wide"{% endif %}>   

        <!--<div id="wrapper">-->
        <div class="search-wrapper">
            <div class="search-form">
                <input type="text" class="search-field" placeholder="Search...">
                <i class="fa fa-times icon-remove-sign"></i>
                <ul class="search-results post-list"></ul><!-- /.search-results -->
            </div><!-- /.search-form -->
        </div><!-- ./search-wrapper -->

        <iframe id="sidebar"></iframe>
        <header>
            <h1 class="logo" id="blog-title"><a href="{{site.url}}">{{ site.title }}</a></h1>
            <br>
            <ul class="navigation">
                <li><a target="_blank"
        href="https://github.com/TZstatsADS/ADS_Teaching/blob/master/CourseInfo/G5243_FALL_2016_ADS.md"
        class="cc">Syllabus</a></li>
                <li><a target="_blank"
                href="https://courseworks2.columbia.edu/courses/sis_course_id:STATW5243_001_2016_3"
		class="cc">Courseworks</a></li>
	<li><a target="_blank"
        href="https://piazza.com/columbia/fall2016/statw5243_001_2016_3/home"
        class="cc">Piazza</a></li>
                <li><a target="_blank" href="https://github.com/TZstatsADS/ADS_Teaching" class="cc">Teaching materials</a></li>
                <li><a target="_blank" href="http://github.com/TZStatsADS">Projects@GitHub</a></li>
                <li><a href="{{site.url}}/archive/"{% if page.url contains "/archive/" %}class="active"{% endif %} title="Archived articles">Blog Archive</a></li>
                <li><a href="{{site.url}}/about/"{% if page.url contains "/about/" %}class="active"{% endif %}>About</a></li>
            </ul>
            <br>
        </header>
    
          <a target="_blank" href="https://github.com/TZstatsADS/ProjectACS-s16c1t10-ComingToAmerica/blob/master/figs/common_states.png" class="cc"><img width=133px src="{{site.url}}/res/screenshot2.png" class="cc"> </a>
          <a target="_blank" href="https://github.com/TZstatsADS/ProjectACS-s16c1t9-MajorMatters" class="cc"><img width=133px src="{{site.url}}/res/screenshot6.png" class="cc">
              </a>
          <a target="_blank" href="https://github.com/TZstatsADS/project2-cycle2-8" class="cc"><img width=133px src="{{site.url}}/res/screenshot1.png" class="cc"> </a>
          <a target="_blank" href="https://github.com/TZstatsADS/project2-group10" class="cc"><img width=133px src="{{site.url}}/res/screenshot4.png" class="cc">
              </a>
          <a target="_blank" href="https://github.com/tz33cu/Data-Science-with-R/blob/master/Visualization/Example%203/minard.pdf" class="cc"><img width=133px src="{{site.url}}/res/screenshot5.png" class="cc"> </a>
        

        {{ content }}
    
        {% if paginator.page %}
        <div id="paginator" class="content">
            {% if paginator.next_page %}
            <a href="{{site.url}}/page{{ paginator.next_page }}/">Older entries</a>
            {% endif %}
            {% if paginator.previous_page %}
            <a href="{{site.url}}/page{{ paginator.previous_page }}/">Newer entries</a>
            {% endif %}
        </div>
        {% endif %}

        {% unless page.no_footer %}
        <footer>
            <p>Powered by Jekyll - <a target="_blank" href="http://github.com/nadjetey/redcup">Redcup</a> Theme</p>
        {% include footer.html %}
        </footer>
        {% endunless %}
        

        {% include pagescript.html %}
    </body>

</html>
