---
layout: default
---
<div class="content{% if page.photo_url %} photo-post{% endif %}">
    <div class="post single">
        {% unless page.photo_url %}
        <h2>{{ page.title }}</h2>
        <info datetime="{<a href="default.html">default.html</a>
{ page.date | date: "%Y-%m-%d" }}">
            {{ page.date | date: "%b %d, %Y" }}
        </info>
        {% endunless %}
        <div class="body">{{ content }}</div>
        <!-- <div class="breaker"></div> -->
        <div class="breaker"></div>        
    </div>  
</div>

